<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>统计报名</title>
		<link rel="stylesheet" type="text/css" href="../../css/fenyuan/statistic_signup_month.css" />
	</head>
	<body>
		<div id="header_wrapper">
			<div id="header">
				<div id="left_side">
					<img alt="logo" src="../../img/fenyuan/u15.png" id="logo" />
					<img src="../../img/fenyuan/u549.png" class="word1" />
					<img src="../../img/fenyuan/u546_line.png" />
					<label class="word2">后台</label>
				</div>
				<div id="right_side">
					<img src="../../img/fenyuan/u117.png" />
					<a href="account_setting.html" class="word">欢迎求是设计协会</a>
					<img src="../../img/fenyuan/u196.png" class="notify" />
					<span class="word">|</span>
					<a href="../../index.html" class="word">注销</a>
				</div>
			</div>
		</div>
		<div id="main_wrapper">
			<div id="main">
				<div id="menu">
					<ul>
						<li><a href="send_activities.html" class="fshd" >发送活动</a></li>
						<li><a href="#" class="tjbm tjbm_selected" >统计报名</a></li>
						<li><a href="send_newsfeed.html" class="fszx" >发送资讯</a></li>
						<li><a href="account_setting.html" class="zhsz" >帐号设置</a></li>
						<li><a href="org_profile.html" class="zzjj" >组织简介</a></li>
					</ul>
				</div>
				<div id="content">
					<div id="up">
						<a href="statistic_signup.html" class="week">
							未来一周
						</a>
						<a href="#" class="month">
							未来一月
						</a>
						<a href="statistic_signup_all.html" class="all">
							全部
						</a>
					</div>
					<div id="down">
					<div id="hint">
							没有未来一月将要举办的活动
						</div>
					</div>
				</div>
		        <div style="clear:both"></div>
			</div>
		</div>
		<div id="back_footer_wrapper">
			<div id="back_footer">
				<p>客服QQ：4009987011企业QQ客服电话： 400-998-7011官方微博关于我们最新素材图片下载Sitemap</p>
				<p>Copyright @ 2014千图网 沪ICP备10011451号-6 用时： 0.0219 1.772 秒 当前版本:1.0</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../dependency/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../../js/fenyuan/statistic_signup_month.js"></script>
</html>