<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>帐号设置</title>
 		<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../css/shetuan/account_setting_edit.css" />
		<link rel="stylesheet" type="text/css" href="../../dependency/jquery-ui.css" />
	</head>
	<body>
		<!-- 提示对话框 -->
		<div title="提示" id="dialog-form">
			`<p>当前修改信息未保存是否确认关闭？</p>
			 <button class="yes">是</button>
			 <button class="no">否</button>
		</div>
		<div id="header_wrapper">
			<div id="header">
				<div id="left_side">
					<img alt="logo" src="../../img/shetuan/u15.png" id="logo"/>
					<img src="../../img/shetuan/u549.png" class="word1" />
					<img src="../../img/shetuan/u546_line.png" />
					<label class="word2">后台</label>
				</div>
				<div id="right_side">
					<img src="../../img/shetuan/u117.png" />
					<a href="account_setting.html" class="word">欢迎求是设计协会</a>
					<span class="word">|</span>
					<a href="../../index.html" class="word">注销</a>
				</div>
			</div>
		</div>
		<div id="main_wrapper">
			<div id="main">
				<div id="menu">
					<ul>
						<li><a href="send_activities.html" class ="fshd" >发送活动</a></li>
						<li><a href="statistic_signup.html" class ="tjbm" >统计报名</a></li>
						<li><a href="account_setting.html" class ="zhsz zhsz_selected" >帐号设置</a></li>
						<li><a href="org_profile.html" class ="zzjj" >组织简介</a></li>
					</ul>
				</div>
				<div id="content">
					<div id="up">
						<div class="tabbox">
							<a href="#">
								帐号设置
							</a>						
						</div>
					</div>
					<div id="down">
						<!-- 编辑栏 -->
						<div id="edit_container">
							<form enctype="multipart/form-data" action="account_setting.html" method="post">
								<div class="left">
									<div class="modify_portrait">
										<img src="../../img/shetuan/u1.png" id="origin_portrait" width="130" height="130" /><!-- 修改头像(头像规格是130*130) -->
										<a>修改</a>
										<input type="file" name="" id="change_portrait"/>
									</div>
								</div>
								<div class="right">
									<table cellspacing="25">
										<tr>
											<td class="name">组织名称:</td><td class="val"><input type="text" name="" value="求是设计协会" /></td>
										</tr>
										<tr>
											<td class="name">组织简称:</td><td class="val"><input type="text" name="" value="求协" /></td>
										</tr>
										<tr>
											<td class="name">绑定邮箱:</td><td class="val"><input type="text" name="" value="4516555@qq.com" /></td>
										</tr>
										<tr>
											<td class="name">组织负责人:</td><td class="val"><input type="text" name="" value="张明" /></td>
										</tr>
										<tr>
											<td class="name">负责人电话:</td><td class="val"><input type="text" name="" value="124455665855" /></td>
										</tr>
										<tr>
											<td class="name">挂靠单位:</td><td class="val"><input type="text" name="" value="校委会" /></td>
										</tr>
										<tr>
											<td colspan="2" class="operation" align="right"><input type="button" name="" value="取消" /><input type="submit" name="" value="保存" /></td>
										</tr>																										
									</table>
								</div>
								<div style="clear:both"></div>
							</form>
						</div>
					</div>
				</div>
				<div style="clear:both"></div>		
			</div>
		</div>
		<div id="back_footer_wrapper">
			<div id="back_footer">
				<p>客服QQ：4009987011企业QQ客服电话： 400-998-7011官方微博关于我们最新素材图片下载Sitemap</p>
				<p>Copyright @ 2014千图网 沪ICP备10011451号-6 用时： 0.0219 1.772 秒 当前版本:1.0</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../dependency/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../../js/shetuan/account_setting.js"></script>
	<script type="text/javascript" src="../../dependency/jquery-ui.js"></script>
</html>