<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>组织简介</title>
 		<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../css/shetuan/org_profile.css" />
	</head>
	<body>
		<div id="header_wrapper">
			<div id="header">
				<div id="left_side">
					<img alt="logo" src="../../img/shetuan/u15.png" id="logo"/>
					<img src="../../img/shetuan/u549.png" class="word1" />
					<img src="../../img/shetuan/u546_line.png" />
					<label class="word2">后台</label>
				</div>
				<div id="right_side">
					<img src="../../img/shetuan/u117.png" />
					<a href="account_setting.html" class="word">欢迎求是设计协会</a>
					<span class="word">|</span>
					<a href="../../index.html" class="word">注销</a>
				</div>
			</div>
		</div>
		<div id="main_wrapper">
			<div id="main">
				<div id="menu">
					<ul>
						<li><a href="send_activities.html" class="fshd" >发送活动</a></li>
						<li><a href="statistic_signup.html" class="tjbm" >统计报名</a></li>
						<li><a href="account_setting.html" class="zhsz" >帐号设置</a></li>
						<li><a href="#" class="zzjj zzjj_selected" >组织简介</a></li>
					</ul>
				</div>
				<div id="content">
					<div id="up">
						<a href="#">
							组织简介
						</a>
					</div>
					<div id="down">
						<div id="container">
							<form action="" method="post" enctype="multipart/form-data" >
<!-- 								<div class="upload">
									<div class="upload_file" ></div>
									<input type="file" name="" id="profile_image"/>
									<div class="display" >
										<ul>
											<li><img src="../../img/shetuan/u91.png" /></li>
										</ul>
									</div>
									<div style="clear:both"></div>
								</div>
								<label>(支持的图片类型：jpg, png, gif, bmp)</label> -->
								<div class="description">
									<input type="text" name="" value="标题" id="mtitle"/>
									<textarea id="profile_content" style="height: 360px;width: 698px;"></textarea>
									
									<div class="submitField">
										<input type="submit" value="保存并更新" class="saveAndUpdate"/>
										<button class="preview" >预览发送</button>
										<input class="cellphone" type="text" value="输入手机号码" maxlength="14"/> <!-- +861876******* -->
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
				<div style="clear:both"></div>		
			</div>
		</div>
		<div id="back_footer_wrapper">
			<div id="back_footer">
				<p>客服QQ：4009987011企业QQ客服电话： 400-998-7011官方微博关于我们最新素材图片下载Sitemap</p>
				<p>Copyright @ 2014千图网 沪ICP备10011451号-6 用时： 0.0219 1.772 秒 当前版本:1.0</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../dependency/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../../js/shetuan/org_profile.js"></script>
	
	<!-- ueditor -->
	<!-- 配置文件 -->
	<script type="text/javascript" src="../../dependency/ueditor/ueditor.config.js"></script>
	<!-- 编辑器源码文件 -->
	<script type="text/javascript" src="../../dependency/ueditor/ueditor.all.min.js"></script>
	<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
	<script type="text/javascript" src="../../dependency/ueditor/lang/zh-cn/zh-cn.js"></script>
</html>