@CHARSET "UTF-8";

@IMPORT url("../common/common.css");

#tuanwei_zzgl .tuanwei_select{
	display:block;
}
#tuanwei_zzgl .tuanwei_stgl_selected{
	background-color: #84D84B;
	color: #fff;
	text-decoration: none;
}
#up a:hover {
	text-decoration: none;
}
#up a {
	float: left;
	display: block;
	height: 47px;
	width: 122px;
	border-top: 4px solid #55BB22;
	padding: 0 4px 0 4px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
	vertical-align: middle;
	line-height: 47px;
	text-align: center;
	font-size: 20px;
	color: #000;
	font-family: '微软雅黑';
}
#content #down {
	min-height: 526px;
}
#shetuan_head{
	margin-left:25px;
	margin-top:15px;
	position:relative;
}
a.shetuan_count{	
	display:block;
	width:225px;
	height:135px;
	float:left;
	background-color:rgb(135,180,201);
	color:#FFFFFF;
	font-size:18px;	
	text-align:center;		
}
a.shetuan_count:hover{
	text-decoration:none;
}
a.shetuan_select{
	background-color:rgb(135,189,139);
	box-shadow: 0 0 6px 1px #7399B4;
	border-right: 1px solid #87BD8B;
	position:absolute;
	z-index:2;
}
.shetuan_unselect{
	position:relative;
	box-shadow: 0 0 6px 1px #C1C6C1;
	height:135px;
	width:451px;
	left:225px;
}
#newadd_shetuan{
	border-right:1px solid rgb(105,162,203);
}
.shetuan_count img{
	display:block;
	float:left;
	left: 70px;
    position: relative;
    top: 20px;
}
#allnum_img{
	left:60px;
}
.num_count{
	color: #FFFFFF;
	font-size: 32px;
	font-family:'宋体';
	position: relative;
    top: 25px;
}
.num_tag{
	clear: both;
    display: block;
    font-size: 18px;
    font-family:'微软雅黑';
    position: relative;
    top: 35px;
}
#shetuan_table{
	margin-top:40px;
	margin-left:22px;
	width:680px;
	height:240px;
}

