@CHARSET "UTF-8";

@IMPORT url("../common/common.css");


#content #up #tab {
	float: left;
	width: 130px;
	height: 51px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
}
#up a:hover {
	text-decoration: none;
}
#up a {
	float: left;
	display: block;
	height: 47px;
	width: 122px;
	border-top: 4px solid #55BB22;
	padding: 0 4px 0 4px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
	vertical-align: middle;
	line-height: 47px;
	text-align: center;
	font-size: 20px;
	color: #000;
	font-family: '微软雅黑';
}
#content #up #tab img {
	vertical-align: top;
}
#content #up #tab label {
	vertical-align: middle;
	font-size: 20px;
	font-family: '宋体';
	text-align: center;
	margin-left: 23px;
}
#content #up #create_news {
	float: right;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	color: #C2C0C1;
	font-size: 18px;
	font-family: '黑体';
	width: 86px;
	padding-left: 30px;
	background: url("../../img/fenyuan/u79.png") center left no-repeat;
}
#content #up #create_news:hover {
	background: url("../../img/fenyuan/u669.png") center left no-repeat;
	color: #8A8C8A;
	cursor: pointer;
}
#content #down {
	height: 526px;
}

/* borrow from activity */
#down .newsfeed {
	height: 97px;
	border-bottom: 1px solid #DBDBDB;
}
#down .info {
	margin-left: 14px;
	margin-top: 26px;
	float: left;
}
#down .info img {
	margin-right: 15px;
}
#down .info .title {
	color: #666;
	font-size: 18px;
}
#down .info .last_edit, #down .info .tag {
	font-size: 12px;
	color: #888;
}

#down .check input[type='checkbox'] {
	float: left;
	margin-top: 45px;
	width: 20px;
	height: 20px;
	margin-left: 18px;
}
#down .edit {
	float: right;
	margin-top: 26px;
}
#down .edit img {
	margin-right: 24px;
}
#down .edit table {
	font-size: 12px;
	color: #888;
}
#down .no_content {
	height: 550px;
	vertical-align: middle;
	line-height: 550px;
	text-align: center;
}
#content #down label {
} 
/* end of borrow */
#dialog-form {
	display: none;
	padding-top: 40px;
	width: 604px;
}

#dialog-form p {
	margin: 0 auto 20px auto;
	width: 530px;
}
#dialog-form p label {
	font-size: 16px;
	font-family: '宋体';
}
#dialog-form input {
	border: 1px solid #DBDBDB;
	font-size: 12px;

}

#dialog-form p label {
	margin-right: 20px;
}
#dialog-form p .top {
	vertical-align: top;
}
#dialog-form select {
	border: 1px solid #DBDBDB;
	width: 465px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	vertical-align: middle;
}
#dialog-form textarea {
	width: 465px;
	height: 117px;
	font-size: 12px;
	padding-left: 3px;
	padding-top: 3px;
	border: 1px solid #DBDBDB;
}
#dialog-form input[type='text'] {
	width: 465px;
	height: 30px;
	padding-left: 3px;
}
#dialog-form input[type='submit'] {
	float: right;
	background-color: #55BB22;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	width: 90px;
	height: 30px;
	margin-right: 18px;
}
#dialog-form input[type='file'] {
	visibility: hidden;
}
#dialog-form .upload {
	color: #fff;
	background-color: #55BB22;
	padding: 5px 25px 5px 25px;
	border-radius: 6px;
}
#dialog-form .upload:hover,.save:hover,.delete:hover,input[type='submit']:hover,.cancel:hover {
	cursor: pointer;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
#dialog-form .supported {
	color: #888;
	vertical-align: middle;
	line-height: 30px;
	margin-left: 30px;
}
#dialog-form .cancel {
	float: right;
	height: 30px;
	background-color: #666666;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	width: 90px;
}
#confirm_delete:hover {
	text-decoration: underline;
	cursor: pointer;
}
#dialog-confirm {
	display: none;
}
#dialog-confirm .confirm_panel {
}
#dialog-confirm ul {
}
#dialog-confirm ul li {
}
#dialog-confirm img {
}
.hint {
	font-family: '宋体';
	color: #FF8040;
	font-size: 12px !important;
	margin-left: 120px;
}
.save {
	margin-top: 15px;
	color: #fff;
	background-color: #55BB22;
	padding: 5px 25px 5px 25px;
	border-radius: 6px;
}
.delete {
	margin-top: 15px;
	margin-left: 20px;
	color: #fff;
	background-color: #999999;
	padding: 5px 25px 5px 25px;
	border-radius: 6px;
}
#dialog-form p a {
	vertical-align: middle;
	color: blue;
}
.ui-dialog {
	border-radius: 0px !important;
}
