@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
	border: 0;
}

.clear {
	clear:both;
}

#header {
	margin: 0 auto 0 auto;
	width: 950px;
	height: 60px;
}
a:link{
	color:#0000FF;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a:active{
	color:#0000FF;
	text-decoration:underline;
}
a:visited{
	color:#0000FF;
	text-decoration:none;
}
input[type="button"]:hover{
	opacity:0.9;
	filter:alpha(opacity=90);
}
