@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
	border: 0;
}

.clear {
	clear:both;
}

#header {
	margin: 0 auto 0 auto;
	width: 950px;
	height: 60px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

* {
	font-family: '宋体';
}

/* back header css */
#header_wrapper {
	height: 60px;
	background-color: #55BB22;
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	box-shadow: 0px 0px 6px 4px #C1C6C1; /* IE9+ */
}
#left_side  {
	float: left;
	height: 60px;
}
#left_side img {
	vertical-align: middle;
	line-height: 60px;	
}
#left_side .word1 {
	line-height: 60px;	
	font-size: 25px;
	color: #fff;
	font-family: "arial";
	vertical-align: middle;
	margin-right: 6px;
}
#left_side .word2 {
	line-height: 60px;	
	color: #fff;
	vertical-align: middle;
	margin-left: 8px;
	font-family: '黑体';
	font-size: 24px;
}
#right_side {
	float: right;
	height: 60px;
}
#right_side img {
	margin-top: 18px;
	vertical-align: middle;
	line-height: 60px;	
}
#right_side .word {
	margin-left: 4px;
	font-size: 18px;
	color: #fff;
	vertical-align: bottom;
}
#right_side .logout {
	margin-top: 30px;
}
/* end of back header css */

/* back main part */
#main_wrapper {
	background-color: #EFF5EF;
	padding-top: 60px;
	padding-bottom: 50px;
}
#main {
	width: 948px;
	height: 598px;
	margin: 0 auto 0 auto;
	border: 1px solid #DBDBDB;
	box-shadow: 0px 0px 6px 2px #C1C6C1;
	margin-top: 50px;
}
/* end of back main part */
/* back menu css */
#menu {
	float: left;
	width: 188px;
	height: 600px;
	background-color: #F3F3F3;
	border-right: 1px solid #D7D7D7;
}
#menu .item {
	line-height: 60px;
	padding-left: 22px;
	height: 60px;
	border-bottom: 1px solid #D7D7D7;
	font-size: 18px;
	color: #333;
}
#menu .item:hover {
	background-color: #55BB22;
	color: #fff;
	cursor: pointer;
}
#menu .item img {
	line-height: 60px;
	margin-right: 20px;
	vertical-align: middle;
}
#menu .selected {
	background-color: #55BB22;
	color: #fff;
}
/* end of back menu css */

#content {
	float: right;
	width: 758px;
	height: 600px;
	background-color: #fff;
}

#content #up {
	width: 758px;
	height: 50px;
	background-color: #F3F3F3;
	border-bottom: 1px solid #D7D7D7;
}
/* back footer */
#back_footer_wrapper {
	background-color: #fff;
	height: 80px;	
}
#back_footer {
	margin: 0 auto 0 auto;
	width: 950px;
	padding-top: 20px;
}
#back_footer p {
	text-align: center;
	font-size: 13px;
	color: #999;
}
/* end of back footer */