@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
}

.clear {
	clear: both;
}

#header {
	margin: 0 auto 0 auto;
	width: 950px;
	height: 60px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

* {
	font-family: '宋体';
}

/* back header css */
#header_wrapper {
	height: 60px;
	background-color: #55BB22;
	/* 	position: fixed;
	top: 0; */
	z-index: 9;
	width: 100%;
	box-shadow: 0px 0px 6px 4px #C1C6C1; /* IE9+ */
}

#left_side {
	float: left;
	height: 60px;
}

#left_side img {
	vertical-align: middle;
	line-height: 60px;
}

#left_side .word1 {
	margin-right: 8px;
	margin-left: 6px;
}

#left_side .word2 {
	line-height: 60px;
	color: #fff;
	vertical-align: middle;
	margin-left: 8px;
	font-family: '微软雅黑', '黑体';
	font-size: 24px;
}

#right_side {
	float: right;
	height: 60px;
}

#right_side img {
	margin-top: 18px;
	vertical-align: bottom;
	line-height: 60px;
	margin-right: 2px;
}

#right_side .notify {
	cursor: pointer; /* 待完善 */
}

#right_side .word {
	font-size: 12px;
	color: #fff;
	font-family: '宋体';
	vertical-align: bottom;
}

#right_side .word:hover {
	color: blue;
	text-decoration: underline;
}
/* end of back header css */

/* back main part */
#main_wrapper {
	background-color: #EFF5EF;
	padding-top: 50px;
	padding-bottom: 50px;
}

#main {
	width: 948px;
	min-height: 598px;
	margin: 0 auto 0 auto;
	border: 1px solid #DBDBDB;
	box-shadow: 0px 0px 6px 2px #C1C6C1;
}
/* end of back main part */
/* back menu css */
#menu {
	float: left;
	width: 190px;
	background-color: #F3F3F3;
}

#menu ul li {
	/* height: 50px; */
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	border-bottom: 1px solid #D7D7D7;
	font-size: 18px;
}

#menu ul li a {
	color: #333;
	display: block;
	height: 50px;
}

#menu ul li a:hover {
	background-color: #55BB22;
	color: #fff;
	text-decoration: none;
}

.fshd {
	background: url("../../img/fenyuan/send_activity.png") 10% center no-repeat;
}

.fshd:hover {
	background: url("../../img/fenyuan/send_activity1.png") 10% center no-repeat;
}

.tjbm {
	background: url("../../img/fenyuan/statistic.png") 10% center no-repeat;
}

.tjbm:hover {
	background: url("../../img/fenyuan/statistic1.png") 10% center no-repeat;
}

.fszx {
	background: url("../../img/fenyuan/send_newsfeed.png") 10% center no-repeat;
}

.fszx:hover {
	background: url("../../img/fenyuan/send_newsfeed1.png") 10% center no-repeat;
}
.zzgl{
	background: url("../../img/tuanwei/manage_ organizations.png") 10% center no-repeat;
}
.zzgl:hover{
	background: url("../../img/tuanwei/manage_ organizations1.png") 10% center no-repeat;
}
.zhsz {
	background: url("../../img/fenyuan/setting.png") 10% center no-repeat;
}

.zhsz:hover {
	background: url("../../img/fenyuan/setting1.png") 10% center no-repeat;
}

.zzjj {
	background: url("../../img/fenyuan/profile.png") 10% center no-repeat;
}

.zzjj:hover {
	background: url("../../img/fenyuan/profile1.png") 10% center no-repeat;
}
.gongju{
	background: url("../../img/tuanwei/tool.png") 10% center no-repeat;
}
.gongju:hover{
	background: url("../../img/tuanwei/tool1.png") 10% center no-repeat;
}
.fshd_selected {
	color: #fff !important;
	text-decoration: none;
	background: url("../../img/fenyuan/send_activity1.png") 10% center no-repeat;
	background-color: #55BB22 !important;
}
.tjbm_selected {
	color: #fff !important;
	text-decoration: none;
	background: url("../../img/fenyuan/statistic1.png") 10% center no-repeat;
	background-color: #55BB22 !important;
}
.fszx_selected {
	color: #fff !important;
	text-decoration: none;
	background: url("../../img/fenyuan/send_newsfeed1.png") 10% center no-repeat;
	background-color: #55BB22 !important;
}
.zzgl_selected {
	color: #fff !important;
	text-decoration: none;
	background: url("../../img/tuanwei/manage_ organizations1.png") 10% center no-repeat;
	background-color: #55BB22 !important;
}
.zhsz_selected {
	color: #fff !important;
	text-decoration: none;
	background: url("../../img/fenyuan/setting1.png") 10% center no-repeat;
	background-color: #55BB22 !important;
}
.zzjj_selected {
	color: #fff !important;
	text-decoration: none;
	background: url("../../img/fenyuan/profile1.png") 10% center no-repeat;
	background-color: #55BB22 !important;
}
.gongju_selected {
	color: #fff !important;
	text-decoration: none;
	background: url("../../img/tuanwei/tool1.png") 10% center no-repeat;
	background-color: #55BB22 !important;
}
#tuanwei_sz a, #tuanwei_jj a, #tuanwei_gj a{
	padding-right:35px;
}
.tuanwei_select li a{
	padding-right:0px !important;
}
.up_to_down{
	display: block; 
	position: relative; 
	top: -35px; 
	left: 150px;
}
.tuanwei_select li a{
	color: #333333;
    display: block;
    height: 29px !important;
    line-height: 29px !important;
}
.tuanwei_select li a:hover {
	background-color: #55BB22;
	color: #fff;
	text-decoration:none;
}
#tuanwei_zzgl, .manage_bottom{
	border-bottom:none;
}
.manage_top{
	border-top:1px solid #D7D7D7;
}
.tuanwei_select{
	display:none;
}
/* end of back menu css */
#content {
	float: right;
	width: 757px;
	min-height: 600px;
	background-color: #fff;
	border-left: 1px solid #D7D7D7;	
	padding-bottom: 5px;
}

#content #up {
	width: 757px;
	height: 50px;
	background-color: #F3F3F3;
	border-bottom: 1px solid #D7D7D7;
}

/* back footer */
#back_footer_wrapper {
	background-color: #fff;
	height: 80px;
}

#back_footer {
	margin: 0 auto 0 auto;
	width: 950px;
	padding-top: 20px;
}

#back_footer p {
	text-align: center;
	font-size: 13px;
	color: #999;
}
/* end of back footer */
a:link {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #0000FF;
	text-decoration: underline;
}

a:visited {
	color: #0000FF;
	text-decoration: none;
}

input[type="button"]:hover {
	opacity: 0.9;
	filter: alpha(opacity = 90);
}
/* load dialog */
		#circularG{
position:relative;
float: left;
margin: 15px 5px 0px 70px;
width:50px;
height:50px}

.circularG{
position:absolute;
background-color:#BFBFBF;
width:11px;
height:11px;
-moz-border-radius:8px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:0.48s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:0.48s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:0.48s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px;
-o-animation-name:bounce_circularG;
-o-animation-duration:0.48s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px;
animation-name:bounce_circularG;
animation-duration:0.48s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:20px;
-moz-animation-delay:0.18s;
-webkit-animation-delay:0.18s;
-ms-animation-delay:0.18s;
-o-animation-delay:0.18s;
animation-delay:0.18s;
}

#circularG_2{
left:5px;
top:5px;
-moz-animation-delay:0.24s;
-webkit-animation-delay:0.24s;
-ms-animation-delay:0.24s;
-o-animation-delay:0.24s;
animation-delay:0.24s;
}

#circularG_3{
top:0;
left:20px;
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#circularG_4{
right:5px;
top:5px;
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#circularG_5{
right:0;
top:20px;
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-ms-animation-delay:0.42s;
-o-animation-delay:0.42s;
animation-delay:0.42s;
}

#circularG_6{
right:5px;
bottom:5px;
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#circularG_7{
left:20px;
bottom:0;
-moz-animation-delay:0.54s;
-webkit-animation-delay:0.54s;
-ms-animation-delay:0.54s;
-o-animation-delay:0.54s;
animation-delay:0.54s;
}

#circularG_8{
left:5px;
bottom:5px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

#progressDialog {
	border-radius: 80px;
	height: 80px;
	width: 300px;
	border: 1px solid #DBDBDB;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
    margin-left: -150px;
	background-color: #fff;
	display: none;
	box-shadow: 0px 0px 5px 2px #C1C6C1; /* IE9+ */
}
#progressDialog label {
	line-height: 80px;
	vertical-align: middle;
}
/* notification */
#notification {
    display: none;
    position: fixed;
    cursor: pointer;
	box-shadow: 0px 0px 3px 3px #DBDBDB; /* IE9+ */
    width: 300px;
    height: 80px;
    border-radius: 55px;
    background-color: #fff;
    text-align: center;
    z-index:9999;
    border: 1px solid #DBDBDB;
    top: 70px !important;
    left: 50%;
    margin-left: -150px;
    line-height: 80px;
    vertical-align: middle;
    font-size: 12px;
    font-family: '黑体';
}