@CHARSET "UTF-8";

#shetuan_around_unselect{
	position:relative;
	box-shadow: 0 0 6px 1px #C1C6C1;
	height:135px;
	width:452px;
	left:0px;
}
a.shetuan_select{
	left:451px;
	top:0px;
}
#uncheck_shetuan{
	border-right: 1px solid rgb(105,162,203);
}