@CHARSET "UTF-8";

/* 新增社团新增样式 */
#shetuan_around{
	width:676px;
	position:relative;
	box-shadow: 0 0 6px 1px #C1C6C1;
	height:135px;
}
a.shetuan_select{
	left:225px;
}
#allnum_shetuan{
	position:relative;
	left:226px;
}