@CHARSET "UTF-8";
#fenyuan{
	background-color: #EBF1EB;
}
#shetuan{
	background-color: #FDFEFC;
}
#shetuan img {
	vertical-align: top;
	display: block;
	width:180px;
}
#shetuan label {	
	color: #333333;
	line-height: 55px;	
}

#fenyuan label {
	color: #999999;
}
#fenyuan label:hover{
	cursor:pointer;
}
#fenyuan a:hover{
	cursor:pointer;
	text-decoration:none;
}
#shetuan_regist_step{
	height:800px;
}
.shetuan_stepone_content #shetuan_regist_step{
	height:620px;
}
#select_label_style{
	background-color:#FFFFFF;
}