<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>分院注册登录界面</title>
<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
<link href="../../css/regist/branch_regist.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../dependency/jquery-ui.css" />
</head>
<body>
     <div id="activate_mailbox" title="提醒">
	<!-- 激活邮箱提醒弹出窗 -->
	<p>请查收绑定邮箱，并点击激活链接进入下一步</p>
	<p id="unreceive">请勿填写校内邮箱，如没收到请返回查看邮箱填写正确与否，或尝试手动登录邮箱。</p>
	<input type="button" value="登录邮箱" name="return" class="cancel" onclick="returnToStep1()"/>		
	</div>
	
	<div id="header_wrapper">
		<div id="header">
			<div id="logo_regist">
				<ul id="logo">
					<li><img src="../../img/regist/headlogo.png" /></li>
					<li><img id="MySchool" src="../../img/regist/MySchool.png" /></li>
					<li><img id="line" src="../../img/regist/line.png" /></li>
					<li><span id="regist_text">注册</span></li>
				</ul>
			</div>
			<div id="login_btns">
				<span>已有账号？马上<a href="../../index.html">登录</a></span>
			</div>
		</div>
	</div>
	<!-- end of header_wrapper -->
	

	<div id="regist_main">
		<div id="regist_content">
			<div class="tab">
				<div id="fenyuan">
					<img src="../../img/regist/u334_line.png" /> <label>分院注册</label>
				</div>
				<div id="shetuan">
					<a href="shetuan_regist_step_one.html"><label>社团注册</label></a>
				</div>
			</div>
			<div class="regist_step">
				<div id="step_tab">
					<!-- 申请步骤 -->
					<ul id="step_num">
						<li id="step_one"><span>Step 1:</span> 激活邮箱<img
							src="../../img/regist/u61_line.png" /></li>
						<li id="step_two"><span>Step 2:</span> 详细信息<img
							src="../../img/regist/u61_line.png" /></li>
						<li id="step_three"><span>Step 3:</span> 上传标志<img
							src="../../img/regist/u61_line.png" /></li>
						<li id="step_four"><span>Step 4:</span> 等待审核<img
							src="../../img/regist/u61_line.png" /></li>
					</ul>
					<div id="underline">
						<img id="u352_end" src="../../img/regist/u352_end.png" /> 
						<img id="u525_end" src="../../img/regist/u525_end.png" />
					</div>
				</div>


				<div id="regist_panel">
					<!-- 信息面板 -->
					<div class="Step_panel" id="Step1_panel">
						<!-- Step 1:激活邮箱面板 -->
						<form action="#" method="post">
							<table>
								<tr>
									<td align="center"><input type="text" name="account"
										value="输入账户名" /></td>
									<td align="center" class="warn_img account_warn"><img alt="" src="../../img/regist/u585.png"></td>
									<td align="left" class="warn_word account_warn" id="account_wword">6到18个字符区包括字母、数字、下划线</td>
								</tr>
								<tr>
									<td align="center"><input type="text" name="password" value="输入密码" /></td>
									<td align="center" class="warn_img password_warn"><img alt="" src="../../img/regist/u585.png"></td>
									<td align="left" class="warn_word password_warn" id="password_wword">6到16个字符区分大小写</td>
									<!--<td align="center" class="warn_img"><img alt="" src="img/u587.png"></td>
									    <td><label id="password" class="inputpwd">输入密码</label></td> -->
								</tr>
								<tr>
									<td align="center"><input type="text" name="password_again" value="再次输入密码" /></td>
									<td align="center" class="warn_img password_again_warn"><img alt="" src="../../img/regist/u585.png"></td>
									<td align="left" class="warn_word password_again_warn" id="password_again_wword">再次输入你设置的密码</td>
									<!-- <td align="center" class="warn_img"><img alt="" src="img/u589.png"></td>
									<td align="left" class="warn_word" id="pword_wword">两次输入的密码不一致。</td> -->
									
								</tr>
								<tr>
									<td align="center"><input type="text" name="mailbox" value="绑定邮箱" /></td>
									<td align="center" class="warn_img mailbox_warn"><img alt="" src="../../img/regist/u585.png"></td>
									<td align="left" class="warn_word mailbox_warn" id="mailbox_wword">输入邮箱，激活完成注册</td>
								</tr>
								<tr class="next_step_tr">
									<td align="center"><input type="button" name="nextstep" class="nextstep"
										value="下一步" onclick="changeToMailbox()" /></td>
								</tr>
								<tr class="judge_use_deal_tr">
									<td align="center"><input type="checkbox" name="judge_use_deal" checked="checked" onclick="judgeUseTheDeal()"/><span> 我已同意遵守<a
											href="#">&lt;&lt;my school 使用协议&gt;&gt;</a></span></td>
								</tr>
							</table>
						</form>
					</div>
					<!-- end of Step1_panel -->
				</div>
			</div>
			<!-- end of regist_step -->
		</div>
	</div>
	<!-- end of regist_main -->
	<div id="footer_wrapper">
		<div id="footer">
			<p>客服QQ：4009987011企业QQ客服电话： 400-998-7011官方微博关于我们最新素材图片下载Sitemap</p>
			<p>Copyright @ 2014千图网 沪ICP备10011451号-6 用时： 0.0219 1.772 秒
				当前版本:1.0</p>
		</div>
	</div>
	
	<script src="../../dependency/jquery-1.11.0.min.js"></script>
	<script src="../../js/regist/fenyuan_regist.js"></script>
	<script type="text/javascript"src="../../dependency/jquery-ui.js"></script>
</body>
</html>