<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>社团注册step2界面</title>
<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
<link href="../../css/regist/branch_regist.css" rel="stylesheet" type="text/css" />
<link href="../../css/regist/regist_step_two.css" rel="stylesheet" type="text/css" />
<link href="../../css/regist/shetuan_regist.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="header_wrapper">
		<div id="header">
			<div id="logo_regist">
				<ul id="logo">
					<li><img src="../../img/regist/headlogo.png" /></li>
					<li><img id="MySchool" src="../../img/regist/MySchool.png" /></li>
					<li><img id="line" src="../../img/regist/line.png" /></li>
					<li><span id="regist_text">注册</span></li>
				</ul>
			</div>
			<div id="login_btns">
				<span>已有账号？马上<a href="../index.html">登录</a></span>
			</div>
		</div>
	</div>
	<!-- end of header_wrapper -->


	<div id="regist_main">
		<div id="regist_content">
			<div class="tab">
				<div id="fenyuan">
					<label>分院注册</label> 
				</div>
				<div id="shetuan">
					<img src="../../img/regist/u334_line.png" /><label>社团注册</label>
				</div>
			</div>
			<div class="regist_step" id="shetuan_regist_step">
				<div id="step_tab">
					<!-- 申请步骤 -->
					<ul id="step_num">
						<li id="step_one"><span>Step 1:</span> 激活邮箱<img
							src="../../img/regist/u61_line.png" /></li>
						<li id="step_two"><span>Step 2:</span> 详细信息<img
							src="../../img/regist/u61_line.png" /></li>
						<li id="step_three"><span>Step 3:</span> 上传标志<img
							src="../../img/regist/u61_line.png" /></li>
						<li id="step_four"><span>Step 4:</span> 等待审核<img
							src="../../img/regist/u61_line.png" /></li>
					</ul>
					<div id="underline">
						<img id="u352_end" src="../../img/regist/u352_end.png" /> 
						<img id="u525_end" src="../../img/regist/u525_end.png" />
					</div>
				</div>


				<div id="regist_panel">
					<!-- 信息面板 -->

					<div class="Step_panel" id="Step2_panel">
						<!-- Step 2:详细信息面板 -->
						<form action="#" method="post">
							<table>
								<tr id="select_campus">
									<td align="center"><select name="campus" onclick="campusSelect()">
									        <option value="请选择校区">请选择校区</option>
											<option value="浙江大学城市学院">浙江大学城市学院</option>
									</select></td>
								</tr>
								<tr id="select_label_style">
									<td align="center"><select name="label_style" onclick="labelStyleSelect()">
									        <option value="请选择标签类型">请选择标签类型</option>
											<option value="体育">体育</option>
									</select></td>
								</tr>
								<tr>
									<td align="center"><input type="text" name="shetuan_name" value="社团名称" /></td>
								</tr>
								<tr>
									<td align="center"><input type="text" name="shetuan_shortname" value="社团简称" /></td>
								</tr>
								<tr>
									<td align="center"><input type="text" name="shetuan_principal"value="社团负责人" /></td>
								</tr>
								<tr>
									<td align="center"><input type="text" name="phone" value="负责人电话" /></td>
									<td align="center" class="warn_img phone_warn"><img alt="" src="../../img/regist/u585.png"></td>
									<td align="left" class="warn_word phone_warn" id="phone_wword">输入11位手机号码</td>
								</tr>
								<tr>
									<td align="center"><input type="text" name="attached_institutions"value="挂靠单位" /></td>
								</tr>
								<tr class="step_button">
								   <!--  <td align="center" class="step_to_step"><a href="fenyuan_regist_step_one.html"><input type="button" name="prestep" class="prestep"
										value="上一步" /></a></td> -->
									<td align="center" class="step_to_step" id="only_one_step"><a href="shetuan_regist_step_three.html"><input type="button" name="nextstep" class="nextstep"
										value="下一步" /></a></td>
									
								</tr>				
							</table>
						</form>
					</div>
					<!-- end of Step2_panel -->
				</div>
			</div>
			<!-- end of regist_step -->
		</div>
	</div>
	<!-- end of regist_main -->
	<div id="footer_wrapper">
		<div id="footer">
			<p>客服QQ：4009987011企业QQ客服电话： 400-998-7011官方微博关于我们最新素材图片下载Sitemap</p>
			<p>Copyright @ 2014千图网 沪ICP备10011451号-6 用时： 0.0219 1.772 秒
				当前版本:1.0</p>
		</div>
	</div>
	<script src="../../dependency/jquery-1.11.0.min.js"></script>
	<script src="../../js/regist/fenyuan_regist.js"></script>
</body>
</html>