@CHARSET "UTF-8";

@IMPORT url("../common/common.css");

#header_wrapper {
	height: 60px;
	background-color: rgb(85, 187, 34);
}

#header {
	background-color: rgb(85, 187, 34);
}

#logo_regist {
	float: left;
	margin-left: 8px;
}

#logo li {
	display: block;
	float: left;
	margin-right: 15px;
	line-height: 63px;
}

#MySchool {
	margin-top: 15px;
	margin-left: -12px;
}

#line {
	margin-top: 15px;
}

#regist_text {
	color: #FFFFFF;
	font-size: 24px;
	font-family: '黑体';
}

#login_btns {
	float: right;
	color: #FFFFFF;
	line-height:60px;
	font-size: 12px;
	font-family: '宋体';
}

#login_btns a {
	text-decoration: none;
}
#login_btns a:hover{
	text-decoration: underline;
}
body {
	background-color: #EFF5EF;
}

#regist_main {
	width: 950px;
	margin: 40px auto 0 auto;
	background-color: rgb(253, 254, 252);
}

/* #regist_content {
	height: 675px;
} */
.regist_step{
	width:950px;
	height:620px;
}

.tab {
	background-color: #EFF5EF;
	height: 60px;
}

#fenyuan,#shetuan {
	float: left;
	height: 60px;
	width:180px;	
}
#fenyuan{
	background-color: #FDFEFC;
}
#shetuan{
	background-color: #EBF1EB;
}
#fenyuan img {
	vertical-align: top;
	display: block;
	width:180px;
}
#fenyuan label,#shetuan label{
	font-size: 24px;
	font-family: '黑体';
	text-align: center;
	display: block;
	line-height: 60px;
}
#fenyuan label {	
	color: #333333;
	line-height: 55px;	
}

#shetuan label {
	color: #999999;
}
#shetuan label:hover{
	cursor:pointer;
}
#shetuan a:hover{
	cursor:pointer;
	text-decoration:none;
}
#step_tab {
	height:72px;
	position: relative;
	top: 0;
}

#step_num {
	margin-left: 67px;
	color: #666666;
	font-size: 16px;
	font-family: '宋体';
	display:block;
	height:70px;
	position:relative;
	z-index:1;
}

#step_num span {
	font-family: '宋体';
	font-weight: 400;
}

#step_num li {
	display: block;
	float: left;
	width: 200px;
	margin-top: 40px;
}

#step_one {
	color: #55BB22;
}

#step_num img {
	display:block;
	height:3px;
	margin-top: 10px;
	margin-left: -25px;
}

#step_two img,#step_three img,#step_four img {
	display: none;
}

#u352_line {
	margin-left: 52px;
}

#underline {
	height: 1px;
	width: 800px;
	background-image: url(../img/u352_line.png);
	position: relative;
	left: 42px;
	top: -1px;
}

#u352_end,#u525_end {
	display: block;
	position: absolute;
	top: -10px;
	left: 800px;
}

#u525_end {
	display: none;
	top: -10px;
}

#regist_panel {
	
/* 	margin: 0px auto; */
	position: relative;
	top: 60px;
	left:280px;
}

.Step_panel {
	position: absolute;
}

/* .Step_panel table {
	width: 400px;
}
 */

.Step_panel table tr{
	display:block;
	height: 40px;
	margin-bottom: 35px;
}
.Step_panel table td{
	display:block;
	float:left;
	height: 40px;
}
.Step_panel table td.warn_img{
	width:40px;
	display:none;
}
.Step_panel table td.warn_img img{
	padding-top:10px;
}
.Step_panel table td.warn_word{
	display:block;
	color: #999999;
	font-family: '宋体';
	font-size: 10px;
	width:140px;
	height:40px;
	float:left;
	line-height:40px;
	display:none;
}
.Step_panel table td.account_warn{
	/* display:none; */
}
.Step_panel table input {
	width: 400px;
	height: 40px;	
	background: #FFFFFF;
	border: 1px solid rgb(204, 204, 204);
	color: #CCCCCC;
	font-family: '宋体';
	font-size: 16px;
	text-align: left;
}
#account_wword{
	margin-top:10px;
	line-height:14px;
}

/* .Step_panel table label {
	color: #CCCCCC;
	font-family: 'Arial Normal', 'Arial';
	font-size: 20px;
	text-align: left;
	position: absolute;
	display:block;
}

#password {
	top: 105px;
	left: 4px;
}

#pwagain {
	top: 195px;
	left: 4px;
} */
.Step_panel table tr.step_button{
	display:block;
}
.Step_panel table td.step_to_step{
	width:140px;
	height:40px;
	padding-left:35px;
	padding-right:15px;
}
#only_one_step{
	padding-left:130px;
}
.Step_panel table input[type='button'] {
	width:140px;
	background-color: rgb(85, 187, 34);
	color: #fff;
	font-size: 20px;
	text-align: center;
	border: none;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	margin-top:25px;
	margin-bottom:20px;
}
.next_step_tr{
	margin-left:130px;
}
.judge_use_deal_tr{
	margin-left:90px;
	margin-top:10px;
}
.Step_panel table input[type='button'].prestep {
	background-color:rgb(153,153,153);
}
input[type='button']:hover {
	cursor: pointer;
}
.Step_panel table input[type='checkbox'] {
	width: auto;
	height:auto;
	border: none;
}

.Step_panel table span {
	color: #333333;
	font-size: 12px;
	position: relative;
	font-family: '宋体';
	top:-3px;
}

.Step_panel table a {
	text-decoration: none;
}
.Step_panel table span a:hover{
	text-decoration:underline;
}
#footer_wrapper {
	background-color: #fff;
	height: 158px;
	margin-top: 55px;
}

#footer {
	padding-top: 40px;
	margin: 0 auto 0 auto;
	width: 950px;
}

#footer p {
	text-align: center;
	font-size: 12px;
	color: #999;
}
#activate_mailbox{
	display:none;
}
#activate_mailbox p{
	font-family:"宋体";
	font-size:16px;
	color:#333333;
	text-align:center;
	margin-top:25px;
}
#activate_mailbox p#unreceive{
	color:#FF8040;
	font-size:12px;	
    width:260px;
	font-family:"宋体";
	display:block;
	margin:10px 0 25px 70px;
}
.cancel {
	width:80px;
	height:30px;
	background-color: rgb(85,187,34);
	color: #fff;
	font-size: 14px !important;
	text-align:center;
	line-height:30px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	border-radius: 6px;
	margin-left:160px;
}












