@CHARSET "UTF-8";

@IMPORT url("../../common/common.css");

#tuanwei_sz .tuanwei_select{
	display:block;
}
#tuanwei_sz .tuanwei_zhsz_selected{
	background-color: #55BB22;
	color: #fff;
	text-decoration: none;
}
#content #up #tab {
	float: left;
	width: 130px;
	height: 51px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
}
#up a:hover {
	text-decoration: none;
}
#up a {
	float: left;
	display: block;
	height: 47px;
	width: 122px;
	border-top: 4px solid #55BB22;
	padding: 0 4px 0 4px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
	vertical-align: middle;
	line-height: 47px;
	text-align: center;
	font-size: 20px;
	color: #000;
}
#content #up #edit {
	float: right;
}
#content #up #edit label {
	line-height: 50px;
	vertical-align: middle;
	font-size: 18px;
	font-family: '黑体';
	color: #C2C0C1;
	margin-right: 30px;
}
#content #up #edit label:hover {
	cursor: pointer;
	text-decoration: underline;
	color:#8A8C8A;
}

#content #down table {
	color: #333;
	font-size: 16px;
}
#content #down table .name {
	text-align: right;
	color: #999;
}
#content #down table .val {
	text-align: left;
}
#content #up #tab label {
	vertical-align: middle;
	font-size: 20px;
	font-family: '宋体';
	text-align: center;
	margin-left: 23px;
}
#content #up #create_acti {
	float: right;
	height: 52px;
	line-height: 52px;
	margin-right: 17px;
	color: #ccc;
	font-size: 18px;
	font-family: '宋体';
}
#content #down {
	height: 526px;
	text-align: center;
	vertical-align: middle;
}
#container {
	width: 	650px;
	height: 260px;	
	margin: 70px auto 0 auto;
}
#edit_container {
	width: 	650px;
	height: 260px;
	margin: 70px auto 0 auto;
	display: none;	

}
.operation {
	margin-top: 20px;
	float:left;
	margin-left: 140px;
}
.operation input[type='submit'] {
	color: #fff;
	background-color: #55BB22;
	padding: 8px 38px 8px 38px;
	border-radius: 6px;
}
.operation input[type='button'] {
	margin-left: 12px;
	color: #fff;
	background-color: #999;
	padding: 8px 38px 8px 38px;
	border-radius: 6px;
}
input[type="submit"]:hover, input[type="button"]:hover {
	cursor: pointer;
}
.left {
	float: left;
	width: 132px;
	height: 300px;
	margin-top: 44px;
	margin-left: 20px;
}
.left input[type='file'] {
	width: 121px;
	height: 38px;
	opacity: 0;
}
.left .modify_portrait {
	margin-top: 30px;
	background: url('../img/btn.png') no-repeat;
	width: 121px;
	height: 38px;
}
.right {
	float: right;
	margin-right: 116px;
}
.right table {
	font-size: 18px;
}

.left input[type='file']:hover {
	cursor: pointer;
}
.right input[type='text'] {
	border: 1px solid #DBDBDB;
	height: 30px;
	width: 190px;
	padding-left: 10px;
}
