@CHARSET "UTF-8";

@IMPORT url("../common/common.css");

#content #up #tab {
	float: left;
	width: 130px;
	height: 51px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
}

#up a:hover {
	text-decoration: none;
}

#up a {
	float: left;
	display: block;
	height: 47px;
	width: 122px;
	border-top: 4px solid #55BB22;
	padding: 0 4px 0 4px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
	vertical-align: middle;
	line-height: 47px;
	text-align: center;
	font-size: 20px;
	color: #000;
	font-family: '微软雅黑';
}

#content #down {
	min-height: 526px;
	text-align: center;
	vertical-align: middle;
}

#container {
	margin: 20px auto 0 auto;
	width: 700px;
}

.description {
	padding-bottom: 106px;
}
.description #mtitle {
	border: 1px solid #ccc;
	width: 690px;
	margin-bottom: 12px;
	height: 40px;
	color: #ccc;
	font-size: 15px;
	padding-left: 8px;
}

#container .upload {
	width: 700px;
	height: 102px;
	margin: 0 auto 10px auto;
}

#container p {
	float: left;
	color: #ccc;
	font-size: 12px;
	margin: 3px 0 3px 0;
}

#container .upload input[type='file'] {
	visibility: hidden;
}

#container .upload .upload_file {
	float: left;
	background: url("../../img/fenyuan/plus2.png") no-repeat center left;
	height: 100px;
	width: 100px;
}

#container .upload .upload_file:hover {
	cursor: pointer;
	background: url("../../img/fenyuan/u97.png") no-repeat center left;
}

#container .upload .display {
	float: left;
	margin-left: 20px;
}

#container .display ul li {
	display: inline;
	list-style-type: none; /* 去掉星号 */
}

#container .display ul li img {
	width: 100px;
	height: 100px;
}

#container input[type='submit'] {
	color: #fff;
	font-size: 16px;
	background-color: #55BB22;
	padding: 6px 17px 6px 17px;
	border-radius: 6px;
	float: right;
}

#container input[type='submit']:hover {
	cursor: pointer;
}

.saveAndUpdate {
	font-family: '宋体';
}
.saveAndUpdate:hover {
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.preview {
	height: 30px;
	width: 80px;
	color: #fff;
	background-color: #55BB22;
	float: right;
	margin-right: 20px;
	font-size: 12px;
	font-family: '宋体';
	text-align: right;
	padding-right: 6px;
}

.cellphone {
	width: 130px;
	height: 28px;
	border: 1px solid #DBDBDB;
	float: right;
	color: #ccc;
	font-size: 12px;
	font-family: '宋体';
}
.submitField {
	height: 30px;
	margin-top: 15px;
}