@CHARSET "UTF-8";

@IMPORT url("../../common/common.css");



#content #up #tab {
	float: left;
	width: 130px;
	height: 51px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
}
#content #up #tab img {
	vertical-align: top;
}
#content #up #tab label {
	vertical-align: middle;
	font-size: 20px;
	font-family: '宋体';
	text-align: center;
	margin-left: 23px;
}
#content #up #create_acti {
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 17px;
	color: #C2C0C1;
	font-size: 18px;
	font-family: '黑体';
}
#content #up #create_acti:hover {
	cursor: pointer;
}
#content #up #create_acti img {

	vertical-align: middle;
	margin-right: 10px;
} 
#content #down {
	height: 526px;

}



#down .activity {
	height: 97px;
	border-bottom: 1px solid #DBDBDB;
}
#down .info {
	margin-left: 14px;
	margin-top: 26px;
	float: left;
}
#down .info img {
	margin-right: 15px;
}
#down .info .title {
	color: #666;
	font-size: 18px;
}
#down .info .last_edit, #down .info .tag {
	font-size: 12px;
	color: #888;
}
#down .status {
	float: right;
	line-height: 97px;
	color: green;
	font-size: 18px;
	margin-right: 14px;
}

#down .check input[type='checkbox'] {
	float: left;
	margin-top: 45px;
	width: 20px;
	height: 20px;
	margin-left: 18px;
}
#down .edit {
	float: right;
	margin-top: 26px;
}
#down .edit img {
	margin-right: 24px;
}
#down .edit table {
	font-size: 12px;
	color: #888;
}



#content #down label {
} 

#dialog-form {
	display: none;
	padding-top: 10px;
}
#dialog-form table {
	margin: 0 auto 0 auto;
}

#dialog-form table label {
	float: right;
	font-size: 16px;
}
.hint {
	font-family: '宋体';
	color: #FF8040;
	font-size: 12px !important;
}
#start_time,#end_time {
	width: 140px;
}
#dialog-form .input {
	width: 400px;
}
input,select {
	border: 1px solid #DBDBDB;
	height: 30px;
}
textarea {
	border: 1px solid #DBDBDB;
	width: 400px;
	height: 116px; 
}

/* dialog-form css */
#dialog-form table .upper {
	height: 116px;
}
#dialog-form table .send {
	float: left;
	background-color: #55BB22;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	width: 90px;
	margin-left: 50px;
}
#dialog-form table .cancel {
	background-color: #515151;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	width: 90px;
	float: right;	
}
#dialog-form .send:hover,#dialog-form .cancel:hover {
	cursor: pointer;
}
#dialog-form input[type='file'] {
	width: 80px;
	height: 30px;
	opacity: 0;
}
.supported {
	color: #888;
	vertical-align: middle;
	line-height: 30px;
}
#dialog-form .upload {
	width: 80px;
	height: 30px;
	display: inline-block;
	background: url("../img/upload.png") no-repeat;
}
/* end of dialog-form css */

/* activity item css */


/* end of activity item css */