@CHARSET "UTF-8";

@IMPORT url("../../common/common.css");


#content #up #tab {
	float: left;
	width: 130px;
	height: 51px;
	background-color: #fff;
	border-right: 1px solid #DBDBDB;
}
#content #up #tab img {
	vertical-align: top;
}
#content #up #tab label {
	vertical-align: middle;
	font-size: 20px;
	font-family: '宋体';
	text-align: center;
	margin-left: 23px;
}
#content #up #create_acti {
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 17px;
	color: #ccc;
	font-size: 18px;
	font-family: '宋体';
}
#content #up #create_acti img {

	vertical-align: middle;
	margin-right: 10px;
} 
#content #down {
	height: 526px;
	text-align: center;
	vertical-align: middle;

}
#content #down label {
} 
